/*This file includes all styl files to ensure order and consolidation*/
h3
	text-align center
.left
	padding 0px 5px
	display inline-block
	vertical-align top
	@import 'header.styl'
	@import 'body.styl'
	@import 'left_panel.styl'
	@import 'right_panel.styl'
	@import 'footer.styl'
.right
	padding 0px 5px
	display inline-block
	vertical-align top
	border-left 1px solid lightgrey
	.lvl1
		margin-left 1em
		.lvl2
			margin-left 2em
			.lvl3
				margin-left 3em